#p3 {
		color:  yellow;
}

h1 {
	font-size:  30px;
}

* {
	font-family:  "Arial", Sans-serif;
}

.list1 {
	background-color:  #90ee90;
}

.offering-item {
	text-transform:  uppercase;
}


li[for] {
	border-width:  3px;
	border-style:  solid;
	border-color:  gray;
}

#js-motto + img {
	height:  120px;
	width:  120px;
	border-radius:  150px;
}

li ~ a {
	text-decoration:  none;
}

ul {
	list-style: none;
}

.list2 {
	letter-spacing:  10px;
}

body > section > p {
	text-align:  center;
	color:  black;
	font-size:  15px;
}
